*{
    box-sizing: border-box;
}

/* All of these will take 100% of the screen's height */
html,
body,
header,
#intro {
    height: 100vh;
}

#intro{
    filter: grayscale(5%);
}

#intro {
    background: url("../images/clouds.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.social-link:hover{
    text-decoration: none;
}

.carousel-feature{
    height: 300px;
    background: black;
}

#feature-proj-1{
    background: url('../images/dres.JPG') no-repeat center;
    background-size: 100%;
}

#feature-proj-2{
    background: url('../images/trivia.JPG') no-repeat center;
    background-size: 100%;
}

#feature-proj-3{
    background: url('../images/hero.JPG') no-repeat center;
    background-size: 100%;
}

.carousel-caption{
    border: solid 0.75px rgb(128, 128, 128);
    border-radius: 10px;
    background-color: rgba(111, 111, 202, 0.8);
    color: white;
}

.caption-link{
    color: rgb(192, 192, 192);
}

.caption-link:hover{
    color: white;
}